.section01 {
    padding: 100px;
}

.section01 h2 {
    padding: 30px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.section01 h3 {

    padding: 20px 0;
    font-size: 20px;
}

.section01 p {
    font-size: 14px;
    line-height: 20px;


}

.section01 .cpcum {
    display: flex;
    padding: 20px;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.section01 .cpcum .desc {
    padding: 20px 0 0 0;

}

.section01 .cpcum .desc a {

    border-bottom: 1px solid #111;
}



.msection01 .inner img {
    width: 100%;
}